<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="MasterNodeConfig" type="NServiceBus.Config.MasterNodeConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
  </configSections>
  <UnicastBusConfig TimeoutManagerAddress="orders.handler.timeouts@r22testinfo03">
    <MessageEndpointMappings>
      <add Messages="Orders.Messages" Endpoint="orders.handler@r22testinfo03" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <MasterNodeConfig Node="r22testinfo03" />
  <MsmqTransportConfig NumberOfWorkerThreads="5" MaxRetries="0" />
</configuration>